body{
	font-family: 'Special Elite', cursive;

}
.line{
	height: 4px;
	width: 110px;
	/*background-color: black;*/
	border-top: 4px solid black;
	position: absolute;
	top: 55px;
}

.arriba{
	overflow: hidden;
	margin-top: 40px;
	/*outline: 1px solid red;*/
}

.abajo{
	overflow: hidden;
}

.coder1, .coder2,.coder3,.coder4,.coder5,.coder6{
	float:left;
	width: 300px;
	height: 300px;
	position: relative;
}
img{
	height:  80%;
	width: 80%;
}

h4{
	position:absolute;
	right:25%;
	bottom: 20%;
	color:white;
}
